.footer{
    width: 100%;
    height: 680px;
    background: #440807;
    margin: 0 auto;
}
.footer:before{
    content: "";
    display: table;
}
.footer_1{
    width: 100%;
    margin: 10px auto;
}
.footer_1 ul{
    padding: 0;
    margin-left: 50px;
}
.footer_1 ul li{
    width: 300px;
    list-style: none;
    float: left;
    color: #B99C93;
    text-align: center;
    margin-top: 20px;
}
.footer_1 ul li p:first-child{
    font-size: 14px;
}
.footer_1 ul li p:last-child{
    font-size: 12px;
    opacity: 0.7;
}
.footer_2{
    width: 100%;
    clear: both;
    margin: 0 auto;
    border-top: 1px solid #7E3333;
    text-align: center;
    padding-top: 50px;
}
.footer_2 ul{
    margin: 0;
    padding: 0;
    margin-left: 50px;

}
.footer_2 ul li{
    width: 300px;
    list-style: none;
    float: left;
    color: #B99C93;
}
.footer_2 ul li p:first-child{
    font-size: 15px;
}
.footer_2 ul li p:not(:first-child){
    font-size: 12px;
    opacity: 0.7;
}



